.icon{
  position: fixed;
  width: 30px;
  height: 60px;
  bottom: 35%;
  right: 40px;
}

.icon2 {
  position: fixed;
  width: 30px;
  height: 60px;
  bottom: 25%;
  right: 40px;
}

.icon3 {
  position: fixed;
  width: 30px;
  height: 60px;
  bottom: 15%;
  right: 40px;
}

.icon:hover {
  transform: scale(1.1);
}

.icon2:hover {
  transform: scale(1.1);
}

.icon3:hover {
  transform: scale(1.1);
}

/* copy new */

.mensaje-copy{
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* lo posicionamos al centro de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    /* ocultamos */
    visibility: hidden;
    opacity: 0;
}


.show{
    visibility: visible;
    opacity: 1;
    transition: opacity .6s;
}